<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="ACRMS" Language="1033" Version="1.0.0.0" Manufacturer="MPTG" UpgradeCode="23e0e5ff-b06c-451f-a08f-37d466eec3ce">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="limited" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Property Id="MSIFASTINSTALL" Value="1"/>
    <Property Id="INSTALLFOLDER">
      <RegistrySearch Key="Software\Microsoft\ACRMS" Root="HKCU" Type="raw"
                      Id="InstallationDirectoryRegistrySearch"
                      Name="InstallLocation" />
    </Property>

    <Property Id="START_VIA_REGISTRY">1</Property>

    <MediaTemplate EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsFolder" Name="WINDOWS"/>
      <Directory Id="AppDataFolder" >
        <Directory Id="INSTALLFOLDER" Name="ACRMS">
          <Directory Id="insideACRMS" Name="installfiles">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MyShortcutsDir"
        Name="ACRMS" />
      </Directory>
    </Directory>

    <DirectoryRef Id="insideACRMS">
      
      <Component Id="IpHlpApi" Guid="089FA770-8938-44A9-B0E7-A0AD2931197F">
        <File Id="FILE_IpHlpApi" Source="..\BuildOutput\IpHlpApi.net.dll"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\IpHlpApi"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveDLL1" On="uninstall" />
      </Component>
      
      <Component Id="MetroFramework" Guid="B86B147C-B74D-4E13-B15B-8AC314CD5C07">
        <File Id="FILE_MetroFramework" Source="..\BuildOutput\MetroFramework.dll"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\MetroFramework"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveDLL2" On="uninstall" />
      </Component>

      <Component Id="Mono.Security" Guid="5DF59107-A440-49C9-AEE4-BD2FB22DF1D6">
        <File Id="FILE_Mono.Security" Source="..\BuildOutput\Mono.Security.dll"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\Mono.Security"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveDLL3" On="uninstall" />
      </Component>

      <Component Id="NotificationWindow" Guid="EBC14A38-361F-45CC-AF8B-2573F9055771">
        <File Id="FILE_NotificationWindow" Source="..\BuildOutput\NotificationWindow.dll"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\NotificationWindow"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveDLL4" On="uninstall" />
      </Component>

      <Component Id="Npgsql" Guid="74EACF4E-F2D9-45B3-8C8C-B4CE52329942">
        <File Id="FILE_Npgsql" Source="..\BuildOutput\Npgsql.dll"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\Npgsql"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveDLL5" On="uninstall" />
      </Component>

      <Component Id="RestSharp" Guid="40D7D356-77AC-4441-A9BA-D28F6549BBB2">
        <File Id="FILE_RestSharp" Source="..\BuildOutput\RestSharp.dll"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\RestSharp"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveDLL6" On="uninstall" />
      </Component>

      <Component Id="VirusTotal.NET" Guid="9AA6B6D6-60FD-4EB6-9965-198A383620C4">
        <File Id="FILE_VirusTotal.NET" Source="..\BuildOutput\VirusTotal.NET.dll"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\VirusTotal.NET"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveDLL7" On="uninstall" />
      </Component>

      <Component Id="ACRMS" Guid="CF7300A2-CA04-477F-82E6-7B5D055530ED">
        <File Id="FILE_ACRMS" Source="..\BuildOutput\ACRMS.exe"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\ACRMS"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveEXE1" On="uninstall" />
      </Component>

      <Component Id="ACRMS.exe" Guid="CCC8A05A-B62C-4C20-A3B4-D7EB7F9E54A5">
        <File Id="FILE_ACRMS.exe" Source="..\BuildOutput\ACRMS.exe.config"/>
        <RegistryValue Root="HKCU"
               Key="Software\Microsoft\ACRMS\ACRMS.exe"
               Name="installed"
               Type="integer"
               Value="1"
               KeyPath="yes" />
        <RemoveFolder Id="RemoveCONFIG1" On="uninstall" />
      </Component>

      <Component Id="ProductComponent" Guid="A6736E7F-D13B-418D-B8AA-4CFE56FB88F8">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\ACRMS">
          <RegistryValue Name="InstallLocation" Type="string" Value="[INSTALLFOLDER]"/>
        </RegistryKey>
        <util:RemoveFolderEx Id='RemoveInstallationFolder' On="uninstall" Property="INSTALLFOLDER"/>
      </Component>
    </DirectoryRef>

    <Icon Id="icon.ico" SourceFile="image.ico"/>
    <Icon Id="msi.exe" SourceFile="installer.ico"/>

    <Property Id="ARPPRODUCTICON" Value="msi.exe" />
    <Property Id="WIXUI_INSTALLDIR" Value="insideACRMS" />

    <DirectoryRef Id="MyShortcutsDir">
      <Component Id="AppMenu"
      Guid="33741C82-30BF-41AF-8246-44A5DCFCF953">
        <Shortcut Id="ACRMS" Name="Monitor" Description="Run ACRMS" Target="[insideACRMS]ACRMS.exe" Icon="icon.ico"/>

        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall ACRMS"
                  Description="Uninstalls ACRMS and all of its components"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />

        <RemoveFolder Id="RemoveMyShortcutsDir"
                      On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\ACRMS"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="installdir" Guid="04439617-ABED-4680-86D4-8137A0506FAB">
        <RemoveFolder Id="RemoveINSTALLFOLDER"
                      On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\ACRMS"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <Feature Id="MainProduct"
    Title="Main Product"
    Level="1" Absent="disallow" Description="Installs the Main Feature">
      <ComponentRef Id="IpHlpApi" />
      <ComponentRef Id="MetroFramework" />
      <ComponentRef Id="Mono.Security" />
      <ComponentRef Id="NotificationWindow" />
      <ComponentRef Id="Npgsql" />
      <ComponentRef Id="RestSharp" />
      <ComponentRef Id="VirusTotal.NET" />
      <ComponentRef Id="ACRMS" />
      <ComponentRef Id="ACRMS.exe" />
      <ComponentRef Id="AppMenu" />
      <ComponentRef Id="installdir" />
      <ComponentRef Id="ProductComponent" />
    </Feature>
  </Product>
</Wix>